body {
  height: 100%;
  width: 100%;
}

/* Navbar hover effect */
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  background-color: #71797E;
  border-radius: 30px;
}

.navbar {
  width: 75% !important;
  margin: 4px auto;
  left: 0;
  right: 0;
  padding: 0;
  border-radius: 30px;
}

/* Jumbotron */
.jumbotron {
  color: whitesmoke;
  background-image: url("https://d33wubrfki0l68.cloudfront.net/590398ae9a27fec27fdac9450c0738d409cc84ff/c6bb7/static/2b5773beca118974180168ada813ba7b/an-introduction-to-low-level-programming.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Card hover effect */
.card:hover {
  transform: translate(0, -8px);
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
}

/* Card layout */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Card styling */
.card {
  margin: 10px;
}

/* Show More button */
#showMoreBtn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
}
